argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
beautifulsoup4==4.12.3
biopython==1.84
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
gunicorn==23.0.0
httpx==0.27.0
idna==3.7
ipykernel==6.29.5
ipython==8.26.0
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jupyterlab==4.2.4
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.2
nbconvert==7.16.4
numpy==2.0.0
pandas==2.2.2
Pillow==10.4.0
prometheus_client==0.20.0
psutil==6.0.0
requests==2.32.3
scipy==1.14.1
setuptools==73.0.1
tornado==6.4.1
Werkzeug==3.0.4
