/*---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|CSS PADRÃO DO SITE|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|*/

/**/
* {
    padding: auto;
    margin: auto;
}
/*Edita todos os links*/
a {
    text-decoration: none;
    color: white;
}
/*Limpar o Float*/
.Clear {
    clear: none;
}
/*Variaveis das cores utlizadas no site*/
:root {
    --cor1 : #00382D;
    --cor2 : white;
    --cor3 : #C0FF72;
    --cor4 : #3c532d;
    --cor5 : #459c79;

}
/*Altera o corpo do site em si*/
body {
}
/*Altera a barra superior do site*/
header {
    border-bottom: 1px solid white;
    background-color: var(--cor1); 
    height: 8%;
    position: fixed;
    width: 100%;
}
/*Botão no formato de planeta que faz mudar de cor o site*/
header button {
    width: 30px;
    height: 30px;
    background-color: var(--cor3) ;
    border: none;
    border-radius: 50%;
    background-image: url(Imagens/Botão.png);
    background-position: center center  ;
    transition-duration: 1s;
}
/*Acrescenta um efeito no botão que faz mudar de cor o site*/
header button:hover {
    width: 30px;
    height: 30px;
    background-color: var(--cor3) ;
    border: none;
    border-radius: 50%;
    background-image: url(Imagens/Botão1.png);
    background-position: center center  ;
    transition-duration: 1s;
    cursor: pointer;
}
/*Editar diretamente os elemento do header*/
.Logo {
    float: left;
    margin: 15px 50px 30px 50px; 
}
/*Editar diretamente os elemento do header*/
.Barra {
    float: right;
    margin: 1.2%;
    font-size: 22px;
    transition-duration: 1s;
}
/**/
.Barra:hover {
    float: right;
    margin: 1%;
    font-size: 22px;
    color: var(--cor3);
    transition-duration: 1s;
} 
/*Texto da introdução do site*/
#Introducao1 {
    width: 275px;
    height: 425px;
    float: left;
    text-align: center;
    margin: 20% auto auto 10%; 
    margin-top: 250px;   
}
/**/
#container1{
    background-color: var(--cor4);
    margin: auto;
    height: 725px;  
    background-image: url(Imagens/Fundo1.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position: center center ;
}
/**/
#container2{
    background-color: var(--cor1);
    margin: auto;
    height: 650px;
}
/**/
#container3{
    background-color: var(--cor4);
    margin: auto;
    height: 650px;
}
/**/
#container4{
    background-color: var(--cor1);
    margin: auto;
    height: 650px;
}
/**/
#container5{
    background-color: var(--cor4);
    margin: auto;
    height: 650px;
}
/**/
#container6{
    background-color: var(--cor1);
    margin: auto;
    height: 650px;
}
/**/
#container7{
    background-color: var(--cor4);
    margin: auto;
    height: 650px;
}
/*Altera a barra da parte inferior do site*/
footer {
    float: left;
    width: 100%;
    height: 10%;
    background-color: var(--cor1 );  
    margin: auto;
    padding: auto;
    position: fixed;
    bottom: 0px;
    border-top: 5px var(--cor4) dotted;
}
/*Metade do logo*/
.Titulo1{
    font-size: 30px;
    font-weight: bold;
    color: var(--cor2);
    margin-top: -0px;
}
/*Outro metade do logo*/
.Titulo2{
    font-size: 30px;
    font-weight: bold;
    color: var(--cor3);
}
/*cores do texto*/
.Titulo3{
    font-size: 20px;
    font-weight: bold;
    color: var(--cor2);
}
/*cores do texto */
.Titulo4{
    font-size: 20px;
    font-weight: bold;
    color: var(--cor3);
}
/*cores do texto */
.Titulo5{
    font-size: 40px;
    font-weight: bold;
    color: var(--cor3);
    margin-top: 0px;
    text-align: center;;
}
/*Caixa dentro do slide 1*/
.Texto1 {
    margin: 15% 10% 15% 10%;
    font-size: 30px;
}
/*Texto das perguntas do slide 2*/
.Texto2 {
    margin: 5% 4% 10% 4%;

    display: block;
    width: 25%;
    height: 50%;
    float: left;
}
/*Texto das perguntas do slide 3*/
.Texto3 {
    margin: 5% 4% 10% 4%;

    display: block;
    width: 25%;
    height: 50%;
    float: left;
}
/*Texto das perguntas do slide 3*/
.Texto4 {
    margin: 5% 4% 10% 4%;

    display: block;
    width: 25%;
    height: 50%;
    float: left;
}
/**/
.Texto5 {
    margin: 1% 40% auto 40%;
    display: block;
    width: 25%;
    height: 50%;
    float: left;
}
/**/
.Texto6 {
    margin: 10% 25% 10% 9%;
    position: absolute; 
    text-align: center;
}
/**/
.Texto7 {
    margin: 1% 5% auto 8%;
    display: block;
    float: left;
}
/**/
.Texto8 {
    margin: 8% 54% 10% 5%;
    position: absolute; 
    text-align: justify;
    display: block;
    border-right: var(--cor2) 7px dotted;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
/**/
.Texto9 {
    margin: 9% 20% 10% 35%;
    position: absolute; 
    text-align: justify;
    display: block;
}
/*Botão calcular que direciona você para a parte das perguntas*/
#btnCalcular{
    margin-top: 15px;
    width: 120px;
    height: 60px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    color: var(--cor3);
    background-color: var(--cor4);
    transition-duration: 1s;
    border: none;
}
/*Acrescenta um efeito no botão calcular*/
#btnCalcular:hover {
    background-color: var(--cor3);
    color: var(--cor4);
    transition-duration: 1s;
    cursor: pointer;
}
/**/
.btnProximo{
    width: 120px;
    height: 60px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    color: var(--cor3);
    background-color: var(--cor4);
    transition-duration: 1s;
    border: none;
    text-align: center;
}
/*Acrescenta um efeito no botão próximo*/
.btnProximo:hover {
    background-color: var(--cor3);
    color: var(--cor4);
    transition-duration: 1s;
    cursor: pointer;
}
/**/
#btnResultado{
    width: 120px;
    height: 60px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    color: var(--cor3);
    background-color: var(--cor4);
    transition-duration: 1s;
    border: none;
    text-align: center;
}
/*Acrescenta um efeito no botão calcular*/
#btnResultado:hover {
    background-color: var(--cor3);
    color: var(--cor4);
    transition-duration: 1s;
    cursor: pointer;
}
/*Editar o conteudo do footer*/ 
.Bot {
    float: left;
    margin: 2% 1% 1% 1%;
    font-size: 17px;     
    transition-duration: 1s;
}
/*Editar o conteudo do footer*/ 
.Bot:hover {
    text-decoration: underline;
    color: var(--cor3);
    transition-duration: 1s;
}
/*Editar o conteudo do footer*/ 
.Bot1 {
    float: left;
    margin: 2% 1% 1% 15%;
    font-size: 17px;
    transition-duration: 1s;
}
/*Editar o conteudo do footer*/ 
.Bot1:hover {
    color: var(--cor3);
    text-decoration: underline;
    transition-duration: 1s;
}
/*Editar o conteudo do footer*/ 
.Bot2 {
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: var(--cor2);
    font-size: 15px; 
}

/**/
.container{
    width: 100%;
    padding: 125px 60px;
    max-width: 1250px;
    position: relative;
    overflow: hidden;
    margin-left: 140px;

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .Slide{
    padding: 40px 60px;
    cursor: grab;
}

.container .Slide:active{
    cursor: grabbing;
}
.Slide{
    background-color: var(--cor4);
    text-align: center;
    border-radius: 50px;
    background-image: url(Imagens/Fundo2.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;    
}
/*Botão para colocar a informação do slide 2*/
input{
    border: none;
    border-radius: 50px;
    margin: 30% 20% auto 35%;
    width: 80px;
    height: 50px;
    background-color: var(--cor5);
    padding: 7px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--cor3);
}
/*Retira a seta para cima e para baixo do botão*/
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*---|---|---|---|---|---|---|---|---|---|---|---|---|---|CSS RESPONSIVIDADE PARA DESKTOP|---|---|---|---|---|---|---|---|---|---|---|---|---|---|*/

/*Resolução 1920×1080*/
@media screen and (max-width: 1920px){

}

/*Resolução 1366×768*/
@media screen and (max-width: 1600px){

}

/*Resolução 1536×864*/
@media screen and (max-width: 1536px){

}

/*Resolução 1440×900*/
@media screen and (max-width: 1440px){

}

/*Resolução 1280×720*/
@media screen and (max-width: 1366px){

}

/*Resolução 1600×900*/
@media screen and (max-width: 1280px){

}

/*---|---|---|---|---|---|---|---|---|---|---|---|---|---|CSS RESPONSIVIDADE PARA SMARTPHONES|---|---|---|---|---|---|---|---|---|---|---|---|---|*/

/*Resolução 414×896*/
@media screen and (max-width: 414px){

}

/*Resolução 375×667*/
@media screen and (max-width: 375px){

}

/*Resolução 360×640*/
@media screen and (max-width: 360px){

}

/*---|---|---|---|---|---|---|---|---|---|---|---|---|---|CSS RESPONSIVIDADE PARA TABLETS|---|---|---|---|---|---|---|---|---|---|---|---|---|---|*/

/*Resolução 1280×800*/
@media screen and (max-width: 1280px){

}

/*Resolução 962×601*/
@media screen and (max-width: 962px){

}

/*Resolução 810×1080*/
@media screen and (max-width: 810px){

}

/*Resolução 800×1280 */
@media screen and (max-width: 800px){

}

/*Resolução 768×1024*/
@media screen and (max-width: 768px){

}

/*Resolução 601×962*/
@media screen and (max-width: 601px){

}